USE [master]
GO
/****** Object:  Database [bdsistema]    Script Date: 30/10/2025 11:20:24 a. m. ******/
CREATE DATABASE [bdsistema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdsistema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bdsistema.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdsistema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bdsistema_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdsistema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdsistema]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_contar_productos]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[fn_contar_productos]
(
	
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @cantidad int

	-- Add the T-SQL statements to compute the return value here
	SELECT @cantidad = COUNT(id_producto) FROM [dbo].[producto]

	-- Return the result of the function
	RETURN @cantidad

END
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](25) NULL,
	[Nombre] [varchar](50) NULL,
	[Dirección] [varchar](50) NULL,
	[Teléfono] [varchar](50) NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](25) NOT NULL,
	[descripcion] [varchar](150) NOT NULL,
	[existencia] [int] NOT NULL,
	[precio] [money] NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_cliente]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_cliente]
	@clave varchar(25),
	@nombre varchar(50),
	@direccion varchar(50),
	@telefono varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE clientes
     SET clave= @clave,
		Nombre = @nombre
      ,Dirección= @direccion
      ,Teléfono = @telefono
    WHERE clave = @clave
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_producto]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_actualizar_producto]
	@clave varchar(25),
	@descripcion varchar(150),
	@existencia int,
	@precio money
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[producto]
     SET [clave] = @clave
      ,[descripcion] = @descripcion
      ,[existencia] = @existencia
      ,[precio] = @precio
    WHERE clave = @clave
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_cliente]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_buscar_cliente]
	-- Add the parameters for the stored procedure here
	@clave varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select clave,Nombre,Dirección,Teléfono from [dbo].[clientes] where clave = @clave
     
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_producto]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_buscar_producto]
	-- Add the parameters for the stored procedure here
	@clave varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select clave,descripcion,existencia,precio from [dbo].[producto] where clave = @clave
     
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_cliente]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_cliente]
	-- Add the parameters for the stored procedure here
	@clave varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM clientes WHERE clave=@clave
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_producto]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminar_producto]
	-- Add the parameters for the stored procedure here
	@clave_producto varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[producto] WHERE clave=@clave_producto
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_cliente]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_cliente]
	-- Add the parameters for the stored procedure here
	@clave varchar(25),
	@nombre varchar(50),
	@direccion varchar(50),
	@telefono varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO clientes (clave,Nombre,Dirección,Teléfono)
     VALUES
           (@clave,@nombre,@direccion,@telefono)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_producto]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_producto] 
	-- Add the parameters for the stored procedure here
	@clave varchar(25),
	@descripcion varchar(150),
	@existencia int,
	@precio money
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[producto]
           ([clave]
           ,[descripcion]
           ,[existencia]
           ,[precio])
     VALUES
           (@clave,@descripcion,@existencia,@precio)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_clientes]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_listar_clientes]
as
select id_cliente,clave,Nombre,Dirección,Teléfono from clientes
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_productos]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_listar_productos] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [id_producto]
      ,[clave]
      ,[descripcion]
      ,[existencia]
      ,[precio]
  FROM [dbo].[producto]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_validar_login]    Script Date: 30/10/2025 11:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validar_login]
    @usuario VARCHAR(25),
    @contraseña VARCHAR(25)
AS
BEGIN
    SELECT usuario 
    FROM login 
    WHERE usuario = @usuario 
    AND contraseña = @contraseña;
END;
GO
USE [master]
GO
